@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/font.scss" as *;

* {
  font-family: $AvenirRegular;

  .form-item {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0rem 2rem 0rem 2rem;

    &__container {
      display: flex;
      flex-direction: row;
      padding-right: 1rem;
      gap: 1rem;
    }


    &__label {
      color: $Silver;
      width: 100%
    }

    &__input {
      @include input;
      height: 6rem;
      padding-bottom: 5rem;
      margin-top: 0.5rem;
      padding-left: 0.5rem;
      width: 150%;
      margin-bottom: 1rem;
      
    }

  

    &__button {
      @include body-copy-mobile;
      width: 100%;
      height: 40px;
      @include button-color;
      border-radius: 5px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 30%;

      &:hover {
        @include button-hover-color;
      }
    }
  }

  @include for-tablet-up {
    .form-item {
      margin-left: 5%;
      &__input {
        height: 1rem;
        padding-top: 1.3rem;
        padding-bottom: 1.5rem;
        width: 195%;
        margin-bottom: 1rem;
      }

      &__button {
        @include body-copy;
        font-size: 12px;
        margin-top: 1.5rem;
        width: 100%;
        gap: 8%;

        &--text {
          margin-right: 2.25rem;
        }
      }

      &__form-item {
        display: flex;
        gap: 20rem;
      }
    }
  }

  @include for-desktop-up {
    .form-item {
      &__input {
        width: 185%;
      }
    }
  }
}
