@use "./partials/variables.scss" as *;
@use "partials/mixins" as *;
@use "partials/font" as *;


.search-fill {
    fill: $White;
};


button {
   @include button-height;
    @include button-width-mobile;
    @include button-color;
    border: none;
    width: 100%;

    &:hover {
        @include button-hover-color;
    }
    

    

}