@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/font.scss" as *;

* {
  font-family: $AvenirRegular;

  .video-content {
margin: 1rem;
  
  &__info {
      display: flex;
      gap: 5rem;
      border-bottom: solid 1px $Mercury;
    }

    &__title {
      padding: 1rem 0;
      border-bottom: solid 1px $Mercury;
      font-family: $AvenirRegular;
    }
    

    &__info {
      &__viewsLikes {
        display: flex;
     
      }


    }

    &__name {
        font-size: 13px;
        font-family: $AvenirBold;
    }
    &__viewsLikes {
        color: $Silver;
    }

    &__date {
      color: $Silver;
    }

    &__icon {
        margin-right: 0.5rem;
    }
   

    &__view {
      display: flex;
      height: 2rem;
    }

    &__description {
        
     @include section-header-mobile;
     
      
    }

    &__comments {
        @include section-header-mobile;
    }
  }

  @media only screen and (min-width: 767px) {
  
    .video-content {
      padding: 0 2.25rem;
        
      &__info {
        justify-content: space-between;
      }

      &__nameDate {
        display: flex;
        

        gap: 2.625rem;
      }

      &__viewsLikes {
        display: flex;
        gap: 2.625rem;
      }

      &__description {
        
        @include section-header-mobile;
        
        
       }


      &__comments {
        @include section-header;
    }

    }
  }



  @include for-desktop-up {
    .video-content {
      max-width: 1280px;
    }
  }



}
